<header>
      <h1>Pristine Wireless</h1>

      <nav>
        <a href="#0">SERVICES</a>
          <a href="#0">HOW IT WORKS</a>
        <a href="#0">LOCATIONS</a>
        <a href="#0">FAQ</a>
        <a href="#0">BLOG</a>
      </nav>
    </header>

    <section>
      <div class="main-content">
        <h2> ACCOUNT SECTION </h2>
        <a href="#0"><h3>PLACE NEW ORDER</h3></a>
        <p>
          Let us know when you have an order to pick up
        </p>
        <a href="#0"><h3>MY ORDERS</h3></a>
        <p>
          View your orders and make payment arrangements
        </p>
        <a href="#0"><h3>MY INFORMATION</h3></a>
        <p>
          Make changes to your account information
        </p>
        <a href="#0"><h3>LAUNDRY SETTINGS</h3></a>
        <p>
          Update your laudry preferences
        </p>
        <a href="#0"><h3>MY CLOSET</h3></a>
        <p>
          View pictures and make notes on your dry cleaned items.
        </p>
        <a href="#0"><h3>CREDIT CARD</h3></a>
        <p>
          Change your credit card.
        </p>

        <a href="#0"><h3>DISCOUNTS</h3></a>
        <p>
          View discounts / apply coupons
        </p>
        <a href="#0"><h3>GIFT CARDS</h3></a>
        <p>
          Buy gift cards for friends and family
        </p>
        <a href="#0"><h3>BUTLER BUCKS</h3></a>
        <p>
          Customer loyalty and referral rewards program
        </p>
        <a href="#0"><h3>LAUNDRY PLANS</h3></a>
        <p>
          Great savings with our laundry plans
        </p>

      </div>
      <div class="ads">
        <h3>
          Daniel Soraluz
        </h3>
        <p>
          d.soraluz@gmail.com
        </p>
        <button> LOGOUT </button>
        <h3>ACCOUNT MENU</h3>

        <ul>
          <li> Account Home</li>
          <li> My Orders</li>
          <li> My Information</li>
          <li> Account Notes</li>
          <li> My Closet</li>
          <li> Payment Settings</li>
          <li> Discounts</li>
          <li> Gift Cards</li>
          <li> Referral/Rewards Program</li>
          <li> Laundry Plans</li>
        </ul>

        <button> PLACE ORDER NOW </button>
    </section>
    <footer>
      <div>
        <a href="#0">ASK <br />PRISTINE</a>
        <a href="#0">THE <br />PRISTINE APP </a>
        <a href="#0">GET PRISTINE <br />IN YOUR BUILDING </a>
        <a href="#0">TWEETS</a>
        <a href="#0">SOCIAL ICONS</a>

      </div>
      <div class="footer-dos">
        <a href="#0">TEAM</a>
        <span>&copy 2017 Pristine Wireless LLC |</span> <a class="terms">Terms & Conditions </a>
      </div>
    </footer>
